.imageElement--slider-layout-demo{
    border-radius: 1rem;
}

.caretIcon{
    color: white;
}

.slideTrackContainer--slider-layout-demo{
    align-items: flex-end;
}

.sliderArrows--slider-layout-demo{
    bottom: 0;
}

.sliderLayoutContainer--slider-layout-demo{
    padding-bottom: 35px;
}

.paginationDotsContainer--slider-layout-demo{
    padding-bottom: 10px;
}